button {
    background-color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    color: white;
    border: none;
    box-shadow: none;
}

button:hover {
    background-color: green;
}


.response {
    float: right;
    clear: both;
}

.messages {
    overflow-y: scroll;
    scrollbar-width: 0px;
    scroll-behavior: smooth;
    scrollbar-color: green;
    max-height: 70vh;
}

.bg-img {
    background: url(../img/chatbot.jpg);
    background-position: center;
    background-size: cover;
}