/* #messages {
    max-width: 400px;
    height: 70vh;
    background-color: aqua;
    color: black;
    margin: auto;
}

.text-area {
    width: 200px;
    height: 15vh;
} */

/* .curve-border {
    border: 1px solid red;
    border-radius: 10px;
}

.content {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    height: 100vh;
    background-color: chartreuse;
} */